@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.container{
    max-width: 90%;
    margin: 0 auto;
}

body,html{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--gray);
    min-height: 100vh;
}